h1,h2,h3,p,ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div{
    box-sizing: border-box;
}
.bar1{
    background-color: cornflowerblue;
}
.menu-box ul li{
    float: left;
    position: relative;

}
.menu-box ul li a{
    display: block;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
}
.menu-box ul li a:hover{
   background-color: darkcyan;
}
.menu-box ul.sub-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    box-shadow: 1px 1px 3px 0 #eee;
    display: none;
    z-index: 99;
    background-color: white;
    /* When cursor on men វាកប់ */
}
.menu-box ul.sub-menu li{
    width: 100%;
}
.menu-box ul.sub-menu li a{
    color: black;
    padding: 15px;
    font-weight: normal;
    font-size: 16px;

}
.menu-box ul.sub-menu li a:hover{
    background-color: #eee;
}
.menu-box ul li:hover ul.sub-menu{
    display: block;
}
/* make style with fixed menu can't scrool=*/
.fixed-menu{
    position: fixed;
    top: 0;
    left: -253px;
    width: 250px;
    height: 100%;
    background-color:  cornflowerblue;
    box-shadow: 1px 1px 3px 0px dimgray;
    transition: 0.3s;
    z-index: 99;
}
.fixed-menu ul li a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.fixed-menu ul li a:hover{
    background-color: darkcyan;
}
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0 ;
    left: 0;
    background-color: rgba(0, 0, 0, 0.477);
    z-index: 98;
    cursor: pointer;
}
.data-container{
    margin-top: 15px;
}
.left-menu .box{
    width: 100%;
    float: left;
    background-color: crimson;
}
.left-menu .box ul li a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.left-menu .box ul li a i{
    float: right;
    font-size: 12px;
    margin: 5px;
}
.left-menu .box ul li a:hover{
    background-color: tomato;
}
.left-sub-menu{
    width: 90%;
    margin-left: 5%;
    float: left;
    background-color: black;
}
/* 2024-10-28 */
.slide-box{
    width: 100%;
    height: 450px;
    background-color: coral;
    /* display: flex; */
     position: absolute;
}
.slide-box .pagination{
    padding: 3px;
    background-color: black;
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.slide-box .pagination ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.slide-box .pagination ul li{
    width: 25px;
    height: 25px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 15px; 
    margin: 2px;
}
.slide-box .pagination ul li.active{
    background-color: white;
}
.slide-box .pagination ul li:hover{
    cursor: pointer;
    background-color: yellow;
}
.slide{
    width: 100%;
    height: 100%;
    background-color: aqua;
    float: left;
    position: relative;
}
.slide span{
    position: absolute;
    color: white;
    top: 10px;
    left: 10px;
    background-color: black;
    padding: 3px;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btnSlide{
    position: absolute;
    top: 50%;
    background-color: rgba(95, 158, 160, 0.11);
    padding: 7px 15px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transform: translate(0, -50%);
    z-index: 1;
}
.btnSlide:hover{
    cursor: pointer;
    background-color: cadetblue;
}
.btnBack{
    left: 18px;
}
.btnNext{
    right: 18px;
}

